# .gitignore

# Node.js (for React app in /frontend)
frontend/node_modules
frontend/.env
frontend/build
frontend/dist
frontend/.cache
frontend/.next
frontend/out
frontend/coverage
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp
frontend.pnp.js


# Python (for Python app in /backend)
backend/__pycache__/
backend/*.py[cod]
backend/env/
backend/venv/
backend/.env
backend/.venv
backend/.mypy_cache/
backend/.pytest_cache/
backend/.coverage
backend/coverage.xml
backend/*.log
backend/.tox/
backend/.nox/
backend/.coverage.*
backend/.hypothesis/
backend/.pytest_cache/
backend/.pyre/
backend/.pytype/
backend/.mypy_cache/
backend/.dmypy.json
backend/.pyre/
backend/.pylint.d/
backend/.ipynb_checkpoints
backend/.ropeproject
backend/.vscode/
backend/.idea/
backend/.mypy_cache/
backend/.pytest_cache/
backend/.coverage
backend/coverage.xml
backend/instance/
backend/.envrc
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.venv/